# Byte-compiled / optimized / DLL files
_pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.env

# VS Code settings
.vscode/

# Django specific
*.log
*.pot
*.py[cod]
*.sqlite3
/staticfiles/
/media/