{% extends "base.html" %}

{% block title %}Images bookmarked{% endblock %}

{% block content %}
    <h1>Images bookmarked</h1>
    <div id="image_list">

      
        <!--Included template holds JavaScript code for loading additional pages when scrolling reach the bottom of the page-->
        {% include "images/image/list_images.html" %} 
    </div>
{% endblock %}

// Code for infinite scroll functionality
{% block domready %}
    var page = 1; //store the current page number
    var emptyPage = false; //if the user is on the last page, no more results are retrieved
    var blockRequest = false; // prevents sending the additional requests while an Http request is in progres

window.addEventListener('scroll', function(e) { // capture the scroll event and define a handler fucntion for it
    var margin = document.body.clientHeight - window.innerHeight - 200; //calculate the margin difference left to the user to scroll
    if(window.pageYOffset > margin && !emptyPage && !blockRequest) {
        blockRequest = true; // to prevent the scroll event from triggering additional Http requests
        page += 1; // increase the page counter to retrieve the next page
        fetch('?images_only=1&page=' + page) // send the Http Get request, setting the URL parameters to image_only=1 and the page for requested page number
        .then(response => response.text()) // The body content is extracted from HTTP response
        .then(html => {
            if (html === '') { // if response has no content, it means that there are no more pages to load
                emptyPage = true;
            }
            else {
                // if response contains data, it is appended to the HTML element with the image-list ID
                var imageList = document.getElementById('image_list');
                imageList.insertAdjacentHTML('beforeEnd', html); 
                blockRequest = false; // remove the lock for the additional Http requests
            }
        })
    }
});

    // Launch scroll event 

    const scrollEvent = new Event('scroll'); // create an event
    window.dispatchEvent(scrollEvent); //  launch the event
{% endblock %}