<!-- Template to display the list of images. Used to return results for AJAX requests .
 The images are being iterated over and a square thumbnail is created for each image.
 The smart cropping function is used to indicate that the image has to be cropped down
 to the requested size.-->
 {% load thumbnail %}
 <div class="grid-wrapper">
 
    {% for image in images %}

    <div class="grid-item">

        <div class="image">
        <a href="{{ image.get_absolute_url }}">
             {% thumbnail image.image 300x300 crop="smart" as im %}
             <img src="{{ im.url }}" alt="{{ image.title }}">
        </a>
        </div>
    <div class="info">
        <a href="{{ image.get_absolute_url }}" class="title">
            {{ image.title }}
        </a>
    </div>
</div>
    
{% endfor %}
</div> <!-- Close the .grid-wrapper -->